<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ApplicationTimeout" value="5"/>
    <add key="ApplicationRetries" value="2"/>
    <add key="GroupName" value="Client"/>
    <add key="GroupTimeout" value="2"/>
    <add key="GroupRetries" value="2"/>
    <add key="RabbitHostname" value="localhost"/>
    <add key="RabbitUsername" value="guest"/>
    <add key="RabbitPassword" value="guest"/>
    <add key="RabbitQueueConnectName" value="RpcQueueConnect"/>
  </appSettings>
</configuration>